<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <!-- viewport 后面加上 minimal-ui 在safri 体现效果 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 隐藏状态栏/设置状态栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="viewport" content="user-scalable=no">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        ;(function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    docEl.style.fontSize = '100px'
                    // if(typeof(clientWidth)=='number' && clientWidth < 750 && clientWidth>319){
                    //     docEl.style.fontSize = 20 * (clientWidth / 375) + 'px';
                    // }else if(typeof(clientWidth)=='number' && clientWidth>750){
                    //     docEl.style.fontSize = '40'+'px';
                    // }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
            recalc();
        })(document, window);
    </script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=cac04621c24a8f8ad1988ef7787d0cb6"></script>
</head>
<body>
<div id="body">
    <router-view></router-view>
    <div class="dialog-detail" id="browser">
        <app-dialog :class="style" :title="title" :width="width" ref="dialogDetail" @close="close"></app-dialog>
        <app-dialog :title="subTitle" :width="subWidth" ref="dialogSubDetail" @close="closeSub"></app-dialog>
        <iframe class="download-iframe" name="download" style="display: none;"></iframe>
    </div>
</div>
</body>
</html>