.analyse {
  padding: 10px;
  .blank {
    margin: 10px;
    background: white;
    border-radius: 6px;
  }

  .condition-holder {
    padding: 20px 20px 0 20px;
  }

  .header-wrap {
    font-size: 18px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d5d5d5;
  }

  .content-wrap {
    padding-left: 20px;
  }

  .data-summary-wrap {
    flex-direction: column;
    display: flex;
    .line-summary-wrap {
      padding: 20px;
      flex-direction: row;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      div{
        font-size: 16px;
        line-height: 30px;
        min-height: 30px;
      }
      .tb-holder {
        color: #999;
      }
      .item-summary-wrap {
        width: 20%;
      }
    }
  }

  .el-radio-group {
    font-size: 0;
  }
}